We'll work with a dataset on sold houses in Ames, Iowa. Each row in the dataset describes the properties of a single house as well as the amount it was sold for. In this course, we'll build models that predict the final sale price from its other attributes. Specifically, we'll explore the following questions:

* Which properties of a house most affect the final sale price?
* How effectively can we predict the sale price from just its properties?

Here are some of the columns:

 * Lot Area: Lot size in square feet.
 * Overall Qual: Rates the overall material and finish of the house.
 * Overall Cond: Rates the overall condition of the house.
 * Year Built: Original construction date.
 * Low Qual Fin SF: Low quality finished square feet (all floors).
 * Full Bath: Full bathrooms above grade.
 * Fireplaces: Number of fireplaces.
 * Let's start by generating train and test datasets and getting more familiar with the data.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.model_selection import KFold

In [4]:
df = pd.read_csv('AmesHousing.txt', delimiter='\t')

In [8]:
def transform_features(df):
    return df

def select_feature(df):
    return df[['Gr Liv Area', 'SalePrice']]

def train_and_test(df):
    train = df[:1460]
    test = df[1460:]
    
    numeric_train = train.select_dtypes(include=['integer','float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])
    
    features = numeric_train.columns.drop('SalePrice')
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train['SalePrice'])
    preds = lr.predict(test[features])
    rmse = np.sqrt(mean_squared_error(test['SalePrice'], preds))
    
    return rmse

transform_df = transform_features(df)
filtered_df = select_feature(transform_df)
rmse = train_and_test(filtered_df)

rmse

57088.25161263909

# Feature Engineering

Let's now start removing features with many missing values, diving deeper into potential categorical features, and transforming text and numerical columns. Update transform_features() so that any column from the data frame with more than 25% (or another cutoff value) missing values is dropped. We also need to remove any columns that leak information about the sale (e.g. like the year the sale happened). In general, the goal of this function is to:

 * remove features that we don't want to use in the model, just based on the number of missing values or data leakage
 * transform features into the proper format (numerical to categorical, scaling numerical, filling in missing values, etc)
 * create new features by combining other features

Here are some of the questions that will serve as our guideline during the machine learning process:

* Which columns contain less than 5% missing values?
 * For numerical columns that meet this criteria, let's fill in the missing values using the most popular value for that column.
* What new features can we create, that better capture the information in some of the features?
 * An example of this would be the years_until_remod feature we created in the last mission.
*Which columns need to be dropped for other reasons?
 * Which columns aren't useful for machine learning?
 * Which columns leak data about the final sale?

In [18]:
null_cols = df.isnull().mean()*100

# drop columns with 5% or more missing values for now
df1 = df[null_cols[null_cols < 5].index]

In [23]:
# drop any text columns with 1 or more missing values for now
text_mv_counts = df1.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)

# filter series to columns containing any missing values
null_cols_2 = text_mv_counts[text_mv_counts > 0]

df1 = df1.drop(null_cols_2.index, 1)

In [29]:
# for numerical columns wtih missing values, fill in with most common values
num_mv_counts = df1.select_dtypes(include=['integer', 'float']).isnull().sum()
filled_num_mv = num_mv_counts[num_mv_counts > 0].sort_values()

replacement_values = df1[filled_num_mv.index].mode().to_dict(orient='records')[0]
replacement_values

{'BsmtFin SF 1': 0.0,
 'BsmtFin SF 2': 0.0,
 'Bsmt Unf SF': 0.0,
 'Total Bsmt SF': 0.0,
 'Garage Cars': 2.0,
 'Garage Area': 0.0,
 'Bsmt Full Bath': 0.0,
 'Bsmt Half Bath': 0.0,
 'Mas Vnr Area': 0.0}

In [30]:
df1 = df1.fillna(replacement_values)

Order              0
PID                0
MS SubClass        0
MS Zoning          0
Lot Area           0
Street             0
Lot Shape          0
Land Contour       0
Utilities          0
Lot Config         0
Land Slope         0
Neighborhood       0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Roof Style         0
Roof Matl          0
Exterior 1st       0
Exterior 2nd       0
Mas Vnr Area       0
Exter Qual         0
Exter Cond         0
Foundation         0
BsmtFin SF 1       0
BsmtFin SF 2       0
                  ..
Central Air        0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Bsmt Full Bath     0
Bsmt Half Bath     0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Kitchen Qual       0
TotRms AbvGrd      0
Functional         0
Fireplaces         0
Garage Cars        0
Garage Area        0
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
Sale Type          0
Sale Condition     0
SalePrice          0
Length: 64, dtype: int64

In [31]:
df1.isnull().sum().value_counts()

0    64
dtype: int64

**Creating new feature**

In [33]:
years_sold = df1['Yr Sold'] - df1['Year Built']
years_sold[years_sold < 0]

2180   -1
dtype: int64

In [34]:
years_since_remod = df1['Yr Sold'] - df1['Year Remod/Add']
years_since_remod[years_since_remod < 0]

1702   -1
2180   -2
2181   -1
dtype: int64

In [35]:
# create new columns 
df1['years_sold'] = years_sold
df1['years_since_remod'] = years_since_remod

# drop rows with negative values
df1 = df1.drop([1702, 2180, 2181], axis=0)

# drop orginal columns
df1 = df1.drop(['Year Built', 'Year Remod/Add'], axis=1)

**Dropping columns that:**
 * Ain't useful for ML
 * Leaking data about the final sale

In [36]:
# drop cols that ain't useful for ML
df1 = df1.drop(['PID', 'Order'],1)

# drop cols that leak info
df1 = df1.drop(['Mo Sold', 'Sale Condition', 'Sale Type', 'Yr Sold'],1)

In [38]:
def transform_features(df):
    num_missing = df.isnull().mean()*100
    df = df[num_missing[num_missing < 5].index] 
    
    text_mv_counts = df.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    null_cols_2 = text_mv_counts[text_mv_counts > 0]
    df = df.drop(null_cols_2.index, 1)
    
    num_mv_counts = df.select_dtypes(include=['integer', 'float']).isnull().sum()
    filled_num_mv = num_mv_counts[num_mv_counts > 0].sort_values()
    replacement_values = df[filled_num_mv.index].mode().to_dict(orient='records')[0]
    df = df.fillna(replacement_values)
    
    years_sold = df['Yr Sold'] - df['Year Built']
    years_since_remod = df['Yr Sold'] - df['Year Remod/Add']
    df['years_sold'] = years_sold
    df['years_since_remod'] = years_since_remod
    df = df.drop([1702, 2180, 2181], axis=0)
    
    df = df.drop(['Year Built', 'Year Remod/Add', 'PID', 'Order', 'Mo Sold', 'Sale Condition', 'Sale Type', 'Yr Sold'], axis=1)
    
    return df

def select_features(df):
    return df[["Gr Liv Area", "SalePrice"]]

def train_and_test(df):
    train = df[:1460]
    test = df[1460:]
    
    numeric_train = train.select_dtypes(include=['integer','float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])
    
    features = numeric_train.columns.drop('SalePrice')
    lr = linear_model.LinearRegression()
    lr.fit(train[features], train['SalePrice'])
    preds = lr.predict(test[features])
    rmse = np.sqrt(mean_squared_error(test['SalePrice'], preds))
    
    return rmse

df = pd.read_csv('AmesHousing.txt', delimiter='\t')
transform_df = transform_features(df)
filtered_df = select_features(transform_df)
rmse = train_and_test(filtered_df)

rmse

55275.367312413066

## Feature Selection

* Generate a correlation heatmap matrix of the numerical features in the training data set.
 * Which features correlate strongly with our target column, SalePrice?
 * Calculate the correlation coefficients for the columns that seem to correlate well with SalePrice. Because we have a pipeline in place, it's easy to try different features and see which features result in a better cross validation score.

* Which columns in the data frame should be converted to the categorical data type? All of the columns that can be categorized as nominal variables are candidates for being converted to categorical. Here are some other things you should think about:
 * If a categorical column has hundreds of unique values (or categories), should you keep it? When you dummy code this column, hundreds of columns will need to be added back to the data frame.
 * Which categorical columns have a few unique values but more than 95% of the values in the column belong to a specific category? This would be similar to a low variance numerical feature (no variability in the data for the model to capture).

* Which columns are currently numerical but need to be encoded as categorical instead (because the numbers don't have any semantic meaning)?

* What are some ways we can explore which categorical columns "correlate" well with SalePrice?

* Update the logic for the `select_features()` function. This function should take in the new, modified train and test data frames that were returned from `transform_features()`.

In [39]:
numerical_df = transform_df.select_dtypes(include=['integer', 'float'])
numerical_df

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,SalePrice,years_sold,years_since_remod
0,20,31770,6,5,112.0,639.0,0.0,441.0,1080.0,1656,...,210,62,0,0,0,0,0,215000,50,50
1,20,11622,5,6,0.0,468.0,144.0,270.0,882.0,896,...,140,0,0,0,120,0,0,105000,49,49
2,20,14267,6,6,108.0,923.0,0.0,406.0,1329.0,1329,...,393,36,0,0,0,0,12500,172000,52,52
3,20,11160,7,5,0.0,1065.0,0.0,1045.0,2110.0,2110,...,0,0,0,0,0,0,0,244000,42,42
4,60,13830,5,5,0.0,791.0,0.0,137.0,928.0,928,...,212,34,0,0,0,0,0,189900,13,12
5,60,9978,6,6,20.0,602.0,0.0,324.0,926.0,926,...,360,36,0,0,0,0,0,195500,12,12
6,120,4920,8,5,0.0,616.0,0.0,722.0,1338.0,1338,...,0,0,170,0,0,0,0,213500,9,9
7,120,5005,8,5,0.0,263.0,0.0,1017.0,1280.0,1280,...,0,82,0,0,144,0,0,191500,18,18
8,120,5389,8,5,0.0,1180.0,0.0,415.0,1595.0,1616,...,237,152,0,0,0,0,0,236500,15,14
9,60,7500,7,5,0.0,0.0,0.0,994.0,994.0,1028,...,140,60,0,0,0,0,0,189000,11,11
10,60,10000,6,5,0.0,0.0,0.0,763.0,763.0,763,...,157,84,0,0,0,0,0,175900,17,16
11,20,7980,6,7,0.0,935.0,0.0,233.0,1168.0,1187,...,483,21,0,0,0,0,500,185000,18,3
12,60,8402,6,5,0.0,0.0,0.0,789.0,789.0,789,...,0,75,0,0,0,0,0,180400,12,12
13,20,10176,7,5,0.0,637.0,0.0,663.0,1300.0,1341,...,192,0,0,0,0,0,0,171500,20,20
14,120,6820,8,5,0.0,368.0,1120.0,0.0,1488.0,1502,...,0,54,0,0,140,0,0,212000,25,25
15,60,53504,8,5,603.0,1416.0,0.0,234.0,1650.0,1690,...,503,36,0,0,210,0,0,538000,7,7
16,50,12134,8,7,0.0,427.0,0.0,132.0,559.0,1080,...,325,12,0,0,0,0,0,164000,22,5
17,20,11394,9,2,350.0,1445.0,0.0,411.0,1856.0,1856,...,113,0,0,0,0,0,0,394432,0,0
18,20,19138,4,5,0.0,120.0,0.0,744.0,864.0,864,...,0,0,0,0,0,0,0,141000,59,59
19,20,13175,6,6,119.0,790.0,163.0,589.0,1542.0,2073,...,349,0,0,0,0,0,0,210000,32,22
20,20,11751,6,6,480.0,705.0,0.0,1139.0,1844.0,1844,...,0,122,0,0,0,0,0,190000,33,33
21,85,10625,7,6,81.0,885.0,168.0,0.0,1053.0,1173,...,0,120,0,0,0,0,0,170000,36,36
22,60,7500,7,5,0.0,533.0,0.0,281.0,814.0,814,...,0,96,0,0,0,0,0,216000,10,10
23,20,11241,6,7,180.0,578.0,0.0,426.0,1004.0,1004,...,0,0,0,0,0,0,700,149000,40,40
24,20,12537,5,6,0.0,734.0,0.0,344.0,1078.0,1078,...,0,0,0,0,0,0,0,149900,39,2
25,20,8450,5,6,0.0,775.0,0.0,281.0,1056.0,1056,...,0,85,184,0,0,0,0,142000,42,42
26,20,8400,4,5,0.0,804.0,78.0,0.0,882.0,882,...,240,0,0,0,0,0,0,126000,40,40
27,20,10500,4,5,0.0,432.0,0.0,432.0,864.0,864,...,0,0,0,0,0,0,0,115000,39,39
28,120,5858,7,5,0.0,1051.0,0.0,354.0,1405.0,1337,...,203,68,0,0,0,0,0,184000,11,11
29,160,1680,6,5,504.0,156.0,0.0,327.0,483.0,483,...,275,0,0,0,0,0,0,96000,39,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,20,13618,8,5,198.0,1350.0,0.0,378.0,1728.0,1960,...,172,38,0,0,0,0,0,320000,1,0
2901,20,11443,8,5,208.0,1460.0,0.0,408.0,1868.0,2028,...,326,66,0,0,0,0,0,369900,1,0
2902,20,11577,9,5,382.0,1455.0,0.0,383.0,1838.0,1838,...,161,225,0,0,0,0,0,359900,1,0
2903,20,31250,1,3,0.0,0.0,0.0,0.0,0.0,1600,...,0,0,135,0,0,0,0,81500,55,55
2904,90,7020,7,5,200.0,1243.0,0.0,45.0,1288.0,1368,...,0,48,0,0,0,0,0,215000,9,9
2905,120,4500,6,5,116.0,897.0,0.0,319.0,1216.0,1216,...,0,125,0,0,0,0,0,164000,8,8
2906,120,4500,6,5,443.0,1201.0,0.0,36.0,1237.0,1337,...,0,199,0,0,0,0,0,153500,8,8
2907,20,17217,5,5,0.0,0.0,0.0,1140.0,1140.0,1140,...,36,56,0,0,0,0,0,84500,0,0
2908,160,2665,5,6,0.0,0.0,0.0,264.0,264.0,616,...,141,0,0,0,0,0,0,104500,29,29
2909,160,2665,5,6,0.0,548.0,173.0,36.0,757.0,925,...,104,26,0,0,0,0,0,127000,29,29
2910,160,3964,6,4,0.0,837.0,0.0,105.0,942.0,1291,...,728,20,0,0,0,0,0,151400,33,33
2911,20,10172,5,7,0.0,441.0,0.0,423.0,864.0,874,...,0,120,0,0,0,0,0,126500,38,3
2912,90,11836,5,5,0.0,149.0,0.0,1503.0,1652.0,1652,...,0,0,0,0,0,0,0,146500,36,36
2913,180,1470,4,6,0.0,522.0,0.0,108.0,630.0,630,...,0,0,0,0,0,0,0,73000,36,36
2914,160,1484,4,4,0.0,252.0,0.0,294.0,546.0,546,...,0,0,0,0,0,0,0,79400,34,34
2915,20,13384,5,5,194.0,119.0,344.0,641.0,1104.0,1360,...,160,0,0,0,0,0,0,140000,37,27
2916,180,1533,5,7,0.0,553.0,0.0,77.0,630.0,630,...,0,0,0,0,0,0,0,92000,36,36
2917,160,1533,4,5,0.0,408.0,0.0,138.0,546.0,546,...,0,0,0,0,0,0,0,87550,36,36
2918,160,1526,4,5,0.0,0.0,0.0,546.0,546.0,546,...,0,34,0,0,0,0,0,79500,36,36
2919,160,1936,4,7,0.0,0.0,0.0,546.0,546.0,546,...,0,0,0,0,0,0,0,90500,36,36
2920,160,1894,4,5,0.0,252.0,0.0,294.0,546.0,546,...,0,24,0,0,0,0,0,71000,36,36
2921,90,12640,6,5,0.0,936.0,396.0,396.0,1728.0,1728,...,40,0,0,0,0,0,0,150900,30,30
2922,90,9297,5,5,0.0,1606.0,0.0,122.0,1728.0,1728,...,0,0,0,0,0,0,0,188000,30,30
2923,20,17400,5,5,0.0,936.0,0.0,190.0,1126.0,1126,...,295,41,0,0,0,0,0,160000,29,29
2924,20,20000,5,7,0.0,1224.0,0.0,0.0,1224.0,1224,...,474,0,0,0,0,0,0,131000,46,10
2925,80,7937,6,6,0.0,819.0,0.0,184.0,1003.0,1003,...,120,0,0,0,0,0,0,142500,22,22
2926,20,8885,5,5,0.0,301.0,324.0,239.0,864.0,902,...,164,0,0,0,0,0,0,131000,23,23
2927,85,10441,5,5,0.0,337.0,0.0,575.0,912.0,970,...,80,32,0,0,0,0,700,132000,14,14
2928,20,10010,5,5,0.0,1071.0,123.0,195.0,1389.0,1389,...,240,38,0,0,0,0,0,170000,32,31
2929,60,9627,7,5,94.0,758.0,0.0,238.0,996.0,996,...,190,48,0,0,0,0,0,188000,13,12

In [40]:
abs_corr_coeffs = numerical_df.corr()['SalePrice'].abs().sort_values()
abs_corr_coeffs

BsmtFin SF 2         0.006127
Misc Val             0.019273
3Ssn Porch           0.032268
Bsmt Half Bath       0.035875
Low Qual Fin SF      0.037629
Pool Area            0.068438
MS SubClass          0.085128
Overall Cond         0.101540
Screen Porch         0.112280
Kitchen AbvGr        0.119760
Enclosed Porch       0.128685
Bedroom AbvGr        0.143916
Bsmt Unf SF          0.182751
Lot Area             0.267520
2nd Flr SF           0.269601
Bsmt Full Bath       0.276258
Half Bath            0.284871
Open Porch SF        0.316262
Wood Deck SF         0.328183
BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
years_since_remod    0.534985
Full Bath            0.546118
years_sold           0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [41]:
# keep columns with coef > 0.4 (arbitrarily for now)
abs_corr_coeffs[abs_corr_coeffs > 0.4]

BsmtFin SF 1         0.439284
Fireplaces           0.474831
TotRms AbvGrd        0.498574
Mas Vnr Area         0.506983
years_since_remod    0.534985
Full Bath            0.546118
years_sold           0.558979
1st Flr SF           0.635185
Garage Area          0.641425
Total Bsmt SF        0.644012
Garage Cars          0.648361
Gr Liv Area          0.717596
Overall Qual         0.801206
SalePrice            1.000000
Name: SalePrice, dtype: float64

In [42]:
# drop cols with less than 0.4 coef with SalePrice
transform_df = transform_df.drop(abs_corr_coeffs[abs_corr_coeffs < 0.4].index, 1)

**Which categorical columns to keep?**

In [43]:
# list of cols that are meant to be categorical
nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]

* Which columns are currently numerical but need to be encoded as categorical instead (because the numbers don't have any semantic meaning)?

* If a categorical column has hundreds of unique values (or categories), should we keep it? When we dummy code this column, hundreds of columns will need to be added back to the data frame.

In [49]:
df1['Overall Qual'].value_counts()

5     825
6     732
7     602
8     349
4     226
9     107
3      40
10     29
2      13
1       4
Name: Overall Qual, dtype: int64

In [50]:
transform_cat_cols = []
for col in nominal_features:
    if col in transform_df.columns:
        transform_cat_cols.append(col)

# count unique values in categorical cols
unique_counts = transform_df[transform_cat_cols].apply(lambda x: len(x.value_counts())).sort_values()

# arbitrarily cut off 10 unique values (for now)
drop_unique_cols = unique_counts[unique_counts > 10].index
transform_df = transform_df.drop(drop_unique_cols, 1)

In [53]:
# select the remaining text cols and convert to categorical
text_cols = transform_df.select_dtypes(include=['object'])
for col in text_cols:
    transform_df[col] = transform_df[col].astype('category')

# create dummy cols and add back to dataframe
transform_df = pd.concat([transform_df, pd.get_dummies(transform_df.select_dtypes(include=['category']))],1).drop(text_cols, 1)

**Update select_features function**

In [68]:
def transform_features(df):
    num_missing = df.isnull().mean()*100
    df = df[num_missing[num_missing < 5].index] 
    
    text_mv_counts = df.select_dtypes(include=['object']).isnull().sum().sort_values(ascending=False)
    null_cols_2 = text_mv_counts[text_mv_counts > 0]
    df = df.drop(null_cols_2.index, 1)
    
    num_mv_counts = df.select_dtypes(include=['integer', 'float']).isnull().sum()
    filled_num_mv = num_mv_counts[num_mv_counts > 0].sort_values()
    replacement_values = df[filled_num_mv.index].mode().to_dict(orient='records')[0]
    df = df.fillna(replacement_values)
    
    years_sold = df['Yr Sold'] - df['Year Built']
    years_since_remod = df['Yr Sold'] - df['Year Remod/Add']
    df['years_sold'] = years_sold
    df['years_since_remod'] = years_since_remod
    df = df.drop([1702, 2180, 2181], axis=0)
    
    df = df.drop(['Year Built', 'Year Remod/Add', 'PID', 'Order', 'Mo Sold', 'Sale Condition', 'Sale Type', 'Yr Sold'], axis=1)
    
    return df

def select_features(df):
    numerical_df = transform_df.select_dtypes(include=['integer', 'float'])
    abs_corr_coeffs = numerical_df.corr()['SalePrice'].abs().sort_values()
    df = df.drop(abs_corr_coeffs[abs_corr_coeffs < 0.4].index, 1)
    
    nominal_features = ["PID", "MS SubClass", "MS Zoning", "Street", "Alley", "Land Contour", "Lot Config", "Neighborhood", 
                    "Condition 1", "Condition 2", "Bldg Type", "House Style", "Roof Style", "Roof Matl", "Exterior 1st", 
                    "Exterior 2nd", "Mas Vnr Type", "Foundation", "Heating", "Central Air", "Garage Type", 
                    "Misc Feature", "Sale Type", "Sale Condition"]
    
    transform_cat_cols = []
    for col in nominal_features:
        if col in df.columns:
            transform_cat_cols.append(col)
            
    unique_counts = df[transform_cat_cols].apply(lambda x: len(x.value_counts())).sort_values()
    drop_unique_cols = unique_counts[unique_counts > 10].index
    df = df.drop(drop_unique_cols, 1)
    
    text_cols = df.select_dtypes(include=['object'])
    for col in text_cols:
        df[col] = df[col].astype('category')
    df = pd.concat([df, pd.get_dummies(df.select_dtypes(include=['category']))],1).drop(text_cols, 1)  
    
    return df

def train_and_test(df, k=0):
    numeric_df = df.select_dtypes(include=['integer','float'])
    features = numeric_df.columns.drop('SalePrice')
    lr = linear_model.LinearRegression()
    
    if k==0:
        train = df[:1460]
        test = df[1460:]
        lr.fit(train[features], train['SalePrice'])
        preds = lr.predict(test[features])
        rmse = np.sqrt(mean_squared_error(test['SalePrice'], preds))
        return rmse 
    
    if k==1:
        # randomize all rows (frac=1) and return
        shuffled_df = df.sample(frac=1,)
        train = df[:1460]
        test = df[1460:]
        lr.fit(train[features], train['SalePrice'])
        preds_1 = lr.predict(test[features])
        rmse_1 = np.sqrt(mean_squared_error(test['SalePrice'], preds_1))
        print(rmse_1)
        lr.fit(test[features], test['SalePrice'])
        preds_2 = lr.predict(train[features])
        rmse_2 = np.sqrt(mean_squared_error(train['SalePrice'], preds_2))
        print(rmse_2)
        avg_rmse = np.mean([rmse_1, rmse_2])
        return avg_rmse 
    
    else:
        kf = KFold(n_splits=k, shuffle=True)
        rmse_values = []
        for train_index, test_index, in kf.split(df):
            train = df.iloc[train_index]
            test = df.iloc[test_index]
            lr.fit(train[features], train['SalePrice'])
            preds = lr.predict(test[features])
            rmse = np.sqrt(mean_squared_error(test['SalePrice'], preds))
            rmse_values.append(rmse)
        print(rmse_values)
        avg_rmse = np.mean(rmse_values)
        return avg_rmse

df = pd.read_csv('AmesHousing.txt', delimiter='\t')
transformed_df = transform_features(df)
filtered_df = select_features(transformed_df)
rmse = train_and_test(filtered_df, k=15)

rmse

[25918.19825099534, 25646.925840883094, 27431.933941359977, 28185.099822143013, 25439.106220537913, 29847.427262701804, 54481.12068629827, 28098.449031916734, 26069.63328938557, 22758.63565019265, 28935.420032246686, 24066.799563474746, 26933.97178846003, 24322.552086229214, 29139.488751100944]

28484.984147861735